# --- Compilations ---
*.o
*.a
*.so
*.out
*.exe
*.elf

# --- Exécutables Unix ---
a.out

# --- Build directories ---
/build/
/bin/
/obj/

# --- Logs ---
*.log

# --- Debug / profiling ---
*.dSYM/
/*.prof
*.gcda
*.gcno
*.gcov

# --- Editors / IDEs ---
# VSCode
.vscode/
*.code-workspace

# CLion / JetBrains
.idea/
cmake-build-*/

# Vim
*.swp
*.swo

# Emacs
*~

# --- OS files ---
.DS_Store
Thumbs.db

# Krita
*.kra
